/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}
