/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

header {
  background-image: url(http://www.islands.com/sites/islands.com/files/styles/medium_1x_/public/bird_island_placencia_belize.png?itok=YHvTwFmr);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
}

.welcome {
  border: 2px solid red;
  text-align: center;
  color: white;

}

form {
  border: 2px solid blue;
  text-align: center;
  display: flex;
  width: 90%;
}

form > * {
  flex: 8 1 950px;

}

input[type="submit"] {
  flex-basis: 100px;
}
