header {
  background-image: url(http://www.islands.com/sites/islands.com/files/styles/medium_1x_/public/bird_island_placencia_belize.png?itok=YHvTwFmr);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: wrap;
  color: $main-text-color;
}

//display none : works, dates, guests //

.img-header-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.welcome{
  text-align: center;
  button {
    display: none;
  }
  h1 {
    font-size: 3em;

  } p {
    font-size: 1.2em;
  }
}

//FORM ////////////////////////////////
.flex-form {
  text-align: center;
  display: flex;
  width: 90%;
  height: 50px;
}

.flex-form > * {
  flex: 8 1 30px;
  font-size: 1em;
  text-align: center;
  height: 40px;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.1);
}


.fa-search{
  flex: 0 0 40px;
  background: $logo-color;
  padding-top: 10px;
  color: white;
}

input[type="date"], .guests {
  display: none;
}

//TOP NAV BAR///////////////////////

.nav-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .toggleNav {
    text-align: center;
    width: 50px;
  }
}

img {
  max-width: 150px;
  margin: auto;
}
/* Flex Container */
.nav-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}


.nav-top li {
  flex-basis:100%;

}

a {
  color:$logo-color;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding:10px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

  /* Turn on flexbox */
  .wrapper {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: white;
  }

  .toggleNav {
    display: block;
  }

  .nav-top ul {
    display: none;
    width: 100px;
  }
    .nav-top ul.open {
      display:block;
      a {
        padding: 5px;
      }
    }

//
// @media all and (max-width:1000px) {
//
//   .nav-top ul {
//     flex-wrap:wrap;
//   }
//
//   .nav-top li {
//     flex:1 1 50%;
//   }
//
//   .nav-top  {
//     flex:1 1 25%;
//   }
//
// }
//
// @media all and (min-width:500px) {
//
//   /* Flex Item */
//   .nav-top li:first-child {
//     flex:3;
//   }
//
//   .nav-top li {
//     flex:1;
//   }
//
//
// }
